@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* My Code */
html {
    box-sizing: border-box;
}
body {
    min-height: 100vh;
}
.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Header */
header {
    background-color: hsl(193, 100%, 96%);
    background-image: url(images/bg-hero-mobile.svg);
    background-repeat: no-repeat;
    background-position: center top;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    padding: 1.2rem 0 2rem;
}
.top > img {
    width: 6.5rem;
}
.top > button {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    background-color: white;
    border: none;
    padding: 0.3rem;
    width: 7rem;
    border-radius: 2rem;
    color: hsl(192, 100%, 9%);
    box-shadow: 0 5px 10px -6px hsl(208, 11%, 55%);
}
.top > button:hover {
    cursor: pointer;
    color: hsl(208, 11%, 55%);
}
.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    margin-bottom: 5rem;
}
.write-up > h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    margin: 0 1.8rem 2rem;
    font-weight: 700;
    line-height: 1.5;
    color: hsl(192, 100%, 9%);
}
.write-up > p {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 2rem;
    color: hsl(192, 100%, 9%);
}
.write-up > button {
    font-family: 'Open Sans', sans-serif;
    width: 15rem;
    padding: 0.8rem;
    background-color: hsl(322, 100%, 66%);
    border-radius: 2rem;
    border: none;
    font-weight: 700;
    color: white;
    margin-bottom: 3.5rem;
    box-shadow: 0 5px 30px -15px hsl(322, 100%, 66%);
}
.write-up > button:hover {
    cursor: pointer;
    opacity: 0.6;
}
.header-img > img {
    width: 20rem;
}

/* Section */
main {
    max-width: 340px;
    font-family: 'Open Sans', sans-serif;
}
.first-section {
    margin-top: 4rem;
}
section {
    box-shadow: 0 5px 30px -15px hsl(208, 11%, 55%);
    margin-top: 3rem;
    border-radius: 12px;
    padding: 3rem 2rem;
}
.section-img > img {
    width: 100%;
}
.section-info > h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.3rem;
    font-weight: 600;
    margin: 3rem 0 1.5rem;
    color: hsl(192, 100%, 9%);
}
.section-info > p {
    font-size: 0.9rem;
    line-height: 1.35;
    color: hsl(208, 11%, 55%);
}
.fourth-section {
    position: relative;
    margin-top: 8rem;
    margin-bottom: 0;
    z-index: 1;
    background-color: white;
    padding-left: 0;
    padding-right: 0;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}
.fourth-section > h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1.1rem;
    margin-bottom: 2rem;
}
.fourth-section > button {
    background-color: hsl(322, 100%, 66%);
    font-size: 0.7rem;
    padding: 0.85rem;
    color: white;
    width: 12rem;
    border: none;
    border-radius: 2rem;
    box-shadow: 0 5px 30px -12px hsl(322, 100%, 66%);
}
.fourth-section > button:hover {
    cursor: pointer;
    opacity: 0.6;
}

/* Footer */
footer {
    position: relative;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    background-color: hsl(192, 100%, 9%);
    padding: 9rem 0 4rem;
    /* text-align: left; */
    color: white;
    width: 100%;
    margin-top: -4rem;
}
.footer-img {
    margin-bottom: 2rem;
    text-align: left;
    padding-left: 1rem;
}
.footer-img > img {
    width: 11rem;
}
.location {
    display: flex;
    align-items: flex-start;
    /* justify-content: space-evenly; */
    gap: 1.9rem;
    margin-bottom: 2rem;
    text-align: left;
    padding-left: 1rem;
}
.phone {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 2rem;
    text-align: left;
    padding-left: 1rem;
}
.email {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 4rem;
    text-align: left;
    padding-left: 1rem;
}
.contact {
    margin-bottom: 3rem;
    text-align: left;
    padding-left: 1rem;
}
.contact > p {
    color: white;
    margin-top: 1.5rem;
}
.contact > p:hover {
    cursor: pointer;
    text-decoration: underline;
}
.icons {
    text-align: center;
    margin-bottom: 2rem;
}
.icons > i {
    border: 1px solid white;
    border-radius: 50%;
    margin: 0 0.3rem 0;
}
.icons > i:hover {
    cursor: pointer;
    color: hsl(322, 100%, 66%);
    border-color: hsl(322, 100%, 66%);
}
#fb {
    padding: 0.4rem 0.6rem;
}
#tweet {
    padding: 0.4rem 0.42rem;
}
#ig {
    padding: 0.4rem 0.47rem;
}
.copyright > p {
    font-family: 'Poppins', sans-serif;
    font-size: 0.65rem;
    text-align: center;
    font-weight: 400;
}

@media screen and (min-width: 960px) {
    br {
        display: none;
    }
    header {
        padding: 2rem 0;
    }
    .top {
        padding: 0 4rem;
    }
    .top > img {
        width: 15%;
    }
    .header {
        display: grid;
        grid-template-columns: 0.9fr 1.1fr;
        align-items: center;
        padding: 0 4rem;
    }
    .header-img > img {
        width: 100%;
    }
    .write-up {
        text-align: left;
        padding-right: 5rem;
    }
    .write-up > h1 {
        margin: 0 0 1.8rem;
        font-size: 2.5rem;
    }
    .write-up > p {
        font-size: 1.1rem;
        line-height: 1.5;
    }
    .write-up > button {
        width: 17rem;
        padding: 1.2rem;
        font-size: 1rem;
    }
    main {
        max-width: 85%;
    }
    section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        gap: 4rem;
        padding-left: 6rem;
        padding-right: 1rem;
    }
    .section-img > img {
        width: 80%;
    }
    .section-info {
        text-align: left;
        padding-right: 2.5rem;
    }
    .section-info > h2 {
        margin: 0 0 1.5rem;
        font-size: 1.57rem;
    }
    .section-info > p {
        font-size: 1.05rem;
    }
    .first-section > .section-img {
        order: 2;
    }
    .third-section > .section-img {
        order: 2;
    }
    .fourth-section {
        max-width: 60%;
        margin-left: 20%;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    .fourth-section > h3 {
        margin: 1.5rem 0 0;
        font-size: 2rem;
    }
    .fourth-section > button {
        margin: 0;
        font-size: 1.4rem;
        width: 25rem;
        padding: 1.4rem;
        border-radius: 3.5rem;
        font-weight: 700;
    }
}